################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntertainmentApp/.vs/
# EntertainmentApp/bin/
EntertainmentApp/obj/Debug/
EntertainmentApp/obj/Debug/build.force
EntertainmentApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EntertainmentApp/obj/Debug/EntertainmentApp.csproj.AssemblyReference.cache
*.cache
EntertainmentApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EntertainmentApp/obj/Debug/EntertainmentApp.csproj.AssemblyReference.cache
EntertainmentApp/bin/Antlr3.Runtime.pdb
EntertainmentApp/bin/EntertainmentApp.dll
EntertainmentApp/bin/EntertainmentApp.dll.config
EntertainmentApp/bin/EntertainmentApp.pdb
EntertainmentApp/bin/Microsoft.AspNet.FriendlyUrls.xml
EntertainmentApp/bin/Newtonsoft.Json.xml
EntertainmentApp/bin/System.Web.Optimization.xml
EntertainmentApp/bin/roslyn/csc.exe
EntertainmentApp/bin/roslyn/csc.exe.config
EntertainmentApp/bin/roslyn/csc.rsp
EntertainmentApp/bin/roslyn/csi.exe
EntertainmentApp/bin/roslyn/csi.exe.config
EntertainmentApp/bin/roslyn/csi.rsp
EntertainmentApp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
EntertainmentApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
EntertainmentApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
EntertainmentApp/bin/roslyn/Microsoft.CodeAnalysis.dll
EntertainmentApp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
EntertainmentApp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
EntertainmentApp/bin/roslyn/Microsoft.CSharp.Core.targets
EntertainmentApp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
EntertainmentApp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
EntertainmentApp/bin/roslyn/Microsoft.Managed.Core.targets
EntertainmentApp/bin/roslyn/Microsoft.VisualBasic.Core.targets
EntertainmentApp/bin/roslyn/Microsoft.Win32.Primitives.dll
EntertainmentApp/bin/roslyn/System.AppContext.dll
EntertainmentApp/bin/roslyn/System.Collections.Immutable.dll
EntertainmentApp/bin/roslyn/System.Console.dll
EntertainmentApp/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
EntertainmentApp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
EntertainmentApp/bin/roslyn/System.Diagnostics.StackTrace.dll
EntertainmentApp/bin/roslyn/System.Globalization.Calendars.dll
EntertainmentApp/bin/roslyn/System.IO.Compression.dll
EntertainmentApp/bin/roslyn/System.IO.Compression.ZipFile.dll
EntertainmentApp/bin/roslyn/System.IO.FileSystem.dll
EntertainmentApp/bin/roslyn/System.IO.FileSystem.Primitives.dll
EntertainmentApp/bin/roslyn/System.Net.Http.dll
EntertainmentApp/bin/roslyn/System.Net.Sockets.dll
EntertainmentApp/bin/roslyn/System.Reflection.Metadata.dll
EntertainmentApp/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
EntertainmentApp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
EntertainmentApp/bin/roslyn/System.Security.Cryptography.Encoding.dll
EntertainmentApp/bin/roslyn/System.Security.Cryptography.Primitives.dll
EntertainmentApp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
EntertainmentApp/bin/roslyn/System.Text.Encoding.CodePages.dll
EntertainmentApp/bin/roslyn/System.Threading.Tasks.Extensions.dll
EntertainmentApp/bin/roslyn/System.ValueTuple.dll
EntertainmentApp/bin/roslyn/System.Xml.ReaderWriter.dll
EntertainmentApp/bin/roslyn/System.Xml.XmlDocument.dll
EntertainmentApp/bin/roslyn/System.Xml.XPath.dll
EntertainmentApp/bin/roslyn/System.Xml.XPath.XDocument.dll
EntertainmentApp/bin/roslyn/vbc.exe
EntertainmentApp/bin/roslyn/vbc.exe.config
EntertainmentApp/bin/roslyn/vbc.rsp
EntertainmentApp/bin/roslyn/VBCSCompiler.exe
EntertainmentApp/bin/roslyn/VBCSCompiler.exe.config
EntertainmentApp/obj/Debug/build.force
EntertainmentApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EntertainmentApp/obj/Debug/EntertainmentApp.csproj.AssemblyReference.cache
